/* General elements */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

html {
    width: 100%;
    min-width: 750px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: block;
    background: #eee;
    font-family: "Helvetica", "Arial", sans-serif;
}

body {
    height: 100%;
}

#navbar {
    width: 100%;
    min-width: 750px;
    height: auto;
    min-height: 50px;
    display: inline-block;
    background-color: #333;
    position: absolute;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid gray;
    box-shadow: 0px 0px 7px gray;
    z-index: 999;
}

#logo img {
    height: 40px;
    position: relative;
    top: 4px;
    margin-left: 20px;
    float: left;
    background: gray;
    border-radius: 50%;
}

#logo p {
    float: left;
    text-decoration: none;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin: 0px;
    text-align: center;
    padding: 12px;
    padding-right: 23px;
    text-shadow: 1px 1px 1px #aaa;
}

.ver-bar {
    width: 20px;
    height: 50px;
    border-left: 1px solid darkgray;
    display: block;
    float: right;
}

#navbar ul {
    list-style: none;
    float: right;
    height: inherit;
    display: flex;
    margin: 0px;
    padding: 0px;
    z-index: 999;
}

.navbutton {
    height: inherit;
    width: auto;
    border-left: 1px solid darkgray;
    position: relative;
    text-align: center;
    padding: 0px 20px;
    margin: 0px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 50px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #333;
    transition: background-color 0.25s ease;
}

.navbutton:hover, .navbutton:focus, .navbutton:active {
    background-color: #ff7402;
    transition: background-color 0.25s ease;
}

#submenu-profile, #submenu-cart, #submenu-cats {
    list-style: none;
    display: flex;
    position: absolute;
    right: -1px;
    top: -10px;
    height: auto;
    margin: 0px;
    margin-top: 200px;
    padding: 0px;
    background-color: #333;
    transition: top 0.25s ease;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    z-index: -999;
}

#submenu-cart {
    width: auto;
}

#submenu-cats {
    display: block;
}

.navbutton:hover #submenu-profile, .navbutton:focus #submenu-profile, .navbutton:active #submenu-profile {
    top: 50px;
    transition: top 0.25s ease;
    z-index: -999;
}

.navbutton:hover #submenu-cart, .navbutton:focus #submenu-cart, .navbutton:active #submenu-cart {
    top: 50px;
    transition: top 0.25s ease;
    z-index: -999;
}

#submenu-profile:first-child {
    border-left: 1px solid darkgray;
    z-index: -999;
}

#submenu-cart:first-child {
    border-left: 1px solid darkgray;
    z-index: -999;
}

.navsubmenu {
    height: 35px;
    width: 110px;
    height: auto;
    border: 1px solid darkgray;
    border-left: none;
    text-align: center;
    padding: 0px 15px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 35px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #222;
    transition: background-color 0.25s ease;
    z-index: -999;
}

#submenu-profile .navsubmenu {
    width: 70px;
}

.navsubmenu:hover, .navsubmenu:focus, .navsubmenu:active {
    background-color: #ff7402;
    transition: background-color 0.25s ease;
    z-index: -999;
}

#submenu-cart > a:first-child > .navsubmenu, #submenu-profile > a:first-child > .navsubmenu {
    border-bottom-left-radius: 5px;
}

#submenu-cart > a:last-child > .navsubmenu, #submenu-profile > a:last-child > .navsubmenu {
    border-bottom-right-radius: 5px;
}

#wrapper {
    width: 60%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
    left: auto;
    margin: 0 auto -30px;
    background: #fff;
    padding: 0 40px;
}

#space-up, #space-down {
    height: 50px;
}

#footer {
    width: 100%;
    height: 30px;
    background-color: gray;
    position: relative;
    left: 0px;
    bottom: 0px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    color: whitesmoke;
}

#footer > span {
    text-shadow: 0px 0px 3px #000;
}

/*****************/
/* Page elements */
/*****************/
h1, h2, h3 {
    padding: 20px 0;
    margin: 0 auto;
}

h4, h5, h6 {
    padding: 15px 0;
    margin: 0 auto;
}

form {
    margin: 0 auto 12px;
}

form div {
    display: table;
    margin: 0 auto 10px;
}

form div p {
    display: table-row;
}

form div label, form div input, form div select {
    display: table-cell;
    margin: 5px 20px;
}

form span {
    display: table;
    margin: 0 auto;
}

#box-error {
    display: table;
    margin: 0 auto;
    border: 1px solid #9a0000;
    background-color: #ff8787;
    text-align: center;
    border-radius: 10px;
    padding: 10px 50px;
}

#box-error span {
    font-weight: bold;
}

#box-message {
    display: table;
    margin: 0 auto;
    border: 1px solid #009a00;
    background-color: #8cff87;
    text-align: center;
    border-radius: 10px;
    padding: 10px 50px;
}

#box-message span {
    font-weight: bold;
}

#container {
    width: 100%;
    min-height: 360px;
    text-align: center;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.article {
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    display: inline-block;
    *display: inline;
    width: 170px;
    height: 220px;
    text-align: center;
    float: left;
    margin: 0 auto;
    padding: 5px;
    margin: 9px;
}

.article:hover {
    border: 2px solid #ff7402;
    box-shadow: 0px 0px 7px gray;
}

.price {
    position: relative;
    bottom: 0px;
    font-weight: bold;
    background-color: deepskyblue;
    color: white;
    padding: 0 5px;
    border-radius: 50px;
    float: left;
    margin-left: 10px;
}

.amount-available {
    position: relative;
    bottom: 0px;
    font-weight: bold;
    background-color: limegreen;
    color: white;
    padding: 0 5px;
    border-radius: 50px;
    float: right;
    margin-right: 10px;
}

.amount-limited {
    position: relative;
    bottom: 0px;
    font-weight: bold;
    background-color: orange;
    color: white;
    padding: 0 5px;
    border-radius: 50px;
    float: right;
    margin-right: 10px;
}

.amount-last {
    position: relative;
    bottom: 0px;
    font-weight: bold;
    background-color: orangered;
    color: white;
    padding: 0 5px;
    border-radius: 50px;
    float: right;
    margin-right: 10px;
}

.amount-ended {
    position: relative;
    bottom: 0px;
    font-weight: bold;
    background-color: red;
    color: white;
    padding: 0 5px;
    border-radius: 50px;
    float: right;
    margin-right: 10px;
}

.artname {
    text-decoration: none;
}

.article img {
    width: 60%;
    height: auto;
}

.article:hover img {
    
}

.category {
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    display: inline-block;
    *display: inline;
    width: 46%;
    height: 100px;
    text-align: left;
    float: left;
    margin: 0 auto;
    padding: 5px;
    margin: 9px;
}

.catname {
    position: relative;
    bottom: 0px;
    font-weight: bold;
    background-color: #ff7402;
    color: white;
    padding: 0 10px;
    border-radius: 50px;
    font-size: 18px;
    margin: 10px;
    width: 55%;
    float: left;
}

.catdescr {
    position: relative;
    width: 60%;
    height: auto;
    float: left;
    margin: 10px;
}

.category:hover {
    border: 2px solid #ff7402;
    box-shadow: 0px 0px 7px gray;
}

.category img {
    height: auto;
    width: 100px;
    margin: 12px;
    float: right;
}

.art-detail {
    position: relative;
    display: inline-block;
    width: 100%;
}

.art-detail img {
    float: left;
    margin: 0px 20px;
    margin-right: 40px;
}

.artname-detail {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.artcat-detail > a {
    text-decoration: underline;
    color: white;
}

.artlabel-detail {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
}

.artprice-detail {
    background-color: deepskyblue;
    margin: 15px 10px;
    padding: 1px 10px;
    font-size: 22px;
    float: left;
    color: white;
    font-weight: bold;
    border-radius: 50px;
}

.artamount-detail-available {
    background-color: limegreen;
    margin: 15px 10px;
    padding: 1px 10px;
    font-size: 22px;
    float: left;
    color: white;
    font-weight: bold;
    border-radius: 50px;
}

.artamount-detail-limited {
    background-color: orange;
    margin: 15px 10px;
    padding: 1px 10px;
    font-size: 22px;
    float: left;
    color: white;
    font-weight: bold;
    border-radius: 50px;
}

.artamount-detail-last {
    background-color: orangered;
    margin: 15px 10px;
    padding: 1px 10px;
    font-size: 22px;
    float: left;
    color: white;
    font-weight: bold;
    border-radius: 50px;
}

.artamount-detail-ended {
    background-color: red;
    margin: 15px 10px;
    padding: 1px 10px;
    font-size: 22px;
    float: left;
    color: white;
    font-weight: bold;
    border-radius: 50px;
}

.artcat-detail {
    width: auto;
    position: relative;
    font-weight: bold;
    background-color: #ff7402;
    color: white;
    padding: 0 10px;
    border-radius: 50px;
    font-size: 18px;
}

.artdescr-detail {
    width: auto;
    height: auto;
    float: left;
}

.addtocart {
    width: 180px;
    display: inline-block;
    float: right;
    border: 1px solid gray;
}

#account-info {
    margin: 20px;
    display: inline-block;
    width: 95%;
}

.user-info-table {
    display: block;
    float: left;
    width: 100%;
}

.user-text {
    margin-left: 20px;
    float: left;
}

.user-text p {
    margin: 6px 0;
}

.user-info-table input {
    margin: 20px;
    float: right;
}
