html {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: block;
}

#navbar {
    width: 100%;
    height: 50px;
    display: inline-block;
    background-color: lightgray;
    position: absolute;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid gray;
    padding-top: 5px;
    padding-bottom: 5px;
}

#logo img {
    height: 50px;
    width: auto;
    position: relative;
    margin-left: 20px;
    float: left;
}

#logo p {
    float: left;
    text-decoration: none;
    color: black;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    padding: 12px;
}

.ver-line {
    width: 1px;
    height: 50px;
    border-right: 1px solid gray;
    display: inline-block;
    float: left;
}